body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
    color: #fff
}

.container-fluid {
    padding: 3% 15%
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 400;
}

/* Download Buttons */
.download-btn {
    margin: 5% 3% 5% 0
}

/* Title Image */
.title-image {
    width: 50%
}

.rotated {
    transform: rotate(25deg);
}

.features-row {
    padding: 130px
}

.icon {
    color: #ef8172;
    font-size: 50px;
}
.icon:hover {
    color: #ff4c68;
}

.features-title {
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px
}

.features-smalltxt {
    color: #8f8f8f;
    font-family: "Montserrat";
    margin: 0px 40px
}

#testimonials {
    text-align: center;
    color: white;
    background-color: #ef8172;
    padding-bottom: 50px
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 80px;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px
}

.carousel-item {
    height: 500px;
    padding: 7% 15%;
}