
/* HEADINGS */
.big-heading {
    color: blue
}

h1, h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
}

h1 {
    font-weight: 900;
}
h2 {
    font-weight: 650;
}

body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
    color: #fff
}

.title-image {
    width: 18%;
    transform: rotate(25deg);
    position:absolute;
    right: 30%
}

@media (max-width: 1107px) {
    .title-image {
        position: absolute;
        right: 150px;
        width: 30%;
        top: 170px
    }
    

}

@media (max-width: 992px) {
    .title-image {
        position: relative;
        width: 55%;
        top: 120px;
        left: 130px
    }
}

.container-fluid {
    padding: 3% 15% 7%
}



.bottom-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
    padding: 0 15%
}

 /* NAVBAR */
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 400;
}


/* DOWNLOAD BTNS */
.download-btn {
    margin: 5% 3% 5% 0
}

#features {
    padding: 7% 15%;
    background: #fff;
    position:relative;
    z-index: 1;
}

.features-title {
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px
}

.features-smalltxt {
    color: #8f8f8f;
    font-family: "Montserrat";
    margin: 0px 40px
}

.features-row {
    padding: 130px
}

.icon {
    color: #ef8172;
    font-size: 50px;
}
.icon:hover {
    color: #ff4c68;
}

/* CAROUSEL COMPONENTS */
#testimonials {
    text-align: center;
    color: white;
    background-color: #ef8172;
    padding-bottom: 50px
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    height: 500px;
    padding: 7% 15%;
}


/* PRESS */
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 80px;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px
}

/* Pricing Section */
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%
}

#cta {
    text-align: center;
    background-color: #ff4c68;
    padding: 5% 15% 2%
}

.brand-spacing {
    padding: .5%;
    margin: 5% 0 1% 0
}